@import "../_Base/ui_base.scss";

%form-kit-text {
  position: relative;
  padding-right: 1rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2);

  i {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1rem;
    margin-top: -0.5rem;
    opacity: 0;
    color: $color-primary;
    transition: 0.25s;
  }

  &.has-value i {
    cursor: pointer;
    opacity: 0.5;
  }

  &.has-value i:hover {
    opacity: 1;
  }

  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    content: "";
    transition: 0.25s;
    background: $color-accent;
  }

  &.has-error:after {
    width: 100%;
    background: $color-error;
  }

  &.has-error:before {
    position: absolute;
    top: 5px;
    right: 0;
    content: "\f071";
    color: $color-error;
    font-family: FontAwesome;
  }

  &.focused:after {
    width: 100%;
  }
}
