@import "../../../ui/uikit/_base/ui_base";

.topNav {
  $header-background-noscroll: rgba($color-body-background, 0.75);

  $header-background-scroll: rgba($color-body-background, 1);

  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  -webkit-transition: top 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s, transform 0.25s;
  transition: top 0.25s, transform 0.25s, -webkit-transform 0.25s;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(18, 23, 28, 0.75)),
    to(transparent)
  );
  background: linear-gradient(to bottom, rgba(18, 23, 28, 0.75), transparent);

  :global(.r-medium) & {
    height: 78px;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    transition: 0.5s;
    opacity: 0;
    background: $header-background-scroll;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .headerContents {
    z-index: 1;
    display: block;
    flex: 1 1;
    white-space: nowrap;

    :global(.r-medium) & {
      display: flex;
    }
  }

  .navWrapper {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    padding: 0 1rem;
    max-width: 1170px;
    margin: 0.5rem auto;

    :global(.r-medium) & {
      justify-content: flex-start;
      flex-flow: row;
      height: 100%;
      margin: 0;
      background-color: inherit;
    }
  }

  .topNavLeft {
    margin-right: auto;
    background-color: black;
    width: 100%;
    padding-left: 1rem;

    :global(.r-medium) & {
      flex: 0;
      justify-content: flex-start;
      flex-flow: row;
      height: 100%;
      background-color: inherit;
    }

    .mobileNavArrow {
      display: none;

      :global(.r-medium) & {
        display: inline-flex;
        color: #fff;
        font-size: 2rem;
      }
    }

    a {
      background: url(/7/ca/destiny/products/beyondlight/nav_bng_shield.png)
        no-repeat left center;
      background-size: 20px auto;
      padding: 0.5rem 0 0.5rem 1.5rem;
      color: $_base-color-schoolbus;
      font-size: 0.8rem;
      height: 100%;
      text-align: left;
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;

      :global(.r-medium) & {
        background-position: right center;
        padding-left: 0;
        padding-right: 36px;
        background-size: 40px auto;
      }

      span {
        color: #fff;
        display: block;
        font-size: 0.7rem;

        &:nth-child(2n + 1) {
          color: $_base-color-schoolbus;
          margin-left: 0.35rem;
        }

        :global(.r-medium) & {
          display: none;
        }
      }
    }
  }

  .navTitle {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 2rem;

    :global(.r-mobile) & {
      flex: 2;
      height: 100%;
      justify-content: center;
    }

    a {
      background: url(/7/ca/destiny/products/beyondlight/logo_en.png) no-repeat
        center center;
      background-size: contain;
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      width: 164px;

      :global(.r-medium) & {
        width: 50%;
        margin: 1.5rem auto;
      }
    }
  }

  .topNavRight {
    display: flex;
    margin-left: auto;
    flex: 1 1 33%;
    justify-content: flex-end;
    position: relative;
    height: 100%;

    :global(.r-medium) & {
      position: absolute;
      display: block;
      z-index: 99;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      top: 78px;
      right: -100%;
      width: 100%;
      height: calc(100vh - 4rem);
      -webkit-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s;
      background: #2a333e none repeat scroll 0 0;

      a {
        margin: 0 1rem;
      }

      &.open {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        right: 0;
        width: 100%;
        background: #12161b none repeat scroll 0 0;

        & + .smallMenu {
          right: 2rem;
        }
      }
    }

    a {
      line-height: 50px;
      position: relative;
      text-transform: uppercase;

      :global(.r-mobile) & {
        font-size: 1.2rem;
      }
    }

    a > span {
      position: absolute;
      right: 0;
      top: 20px;
      left: 0;
      color: #a0d4ff;
      font-size: 0.61rem;
    }

    a.on {
      position: relative;

      &:before {
        position: absolute;
        top: -0.5rem;
        content: "";
        border-top: 2px solid $color-accent2;
        width: 100%;
        left: 0;
      }

      :global(.r-mobile) & {
        &:before {
          position: relative;
          content: "";
        }
      }
    }

    a + a {
      margin-left: 1rem;

      &:after {
        border: 1px solid #29a7ff;
      }
    }

    .mobileToRightNav {
      display: none;

      :global(.r-medium) & {
        display: block;

        & + a {
          text-align: left;
          font-size: 1.6rem;
          margin-bottom: 2rem;

          border: none !important;
        }
      }

      & > :first-child {
        font-size: 1.6rem;
      }

      a {
        text-align: left !important;
      }

      li {
        padding-left: 2rem;
        text-align: left;

        a {
          line-height: 2rem;
        }
      }
    }
  }

  a {
    display: block;
    box-sizing: border-box;
    padding: 0 1vw;
    text-align: center;
    color: rgba(245, 245, 245, 0.75);

    &:hover {
      color: rgba(245, 245, 245, 1);
    }
  }

  &.solid,
  &.navOpen {
    &:before {
      opacity: 1;
    }
  }
}

.smallMenu {
  display: none;
  z-index: 10;
  width: 4rem;
  height: 100%;
  cursor: pointer;
  background: url(/img/theme/bungienet/menu.png) 50% no-repeat;

  :global(.r-medium) & {
    display: inline-flex;
  }
}

.trigger {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.preOrderNav {
  margin-right: 0.75rem;
  white-space: nowrap;
}

.localeOptions {
  top: 49px !important;
}
