// Need access to ui_base? Find ui_base.scss in the solution explorer, and drag it into this file to automatically import it.

@mixin arrowRight($size, $color) {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size 0 $size ($size * 1.25);
  border-color: transparent transparent transparent $color;
  margin-top: 0.25em;
}

@mixin arrowLeft($size, $color) {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size ($size * 1.25) $size 0;
  border-color: transparent $color transparent transparent;
  margin-top: 0.25em;
}

.buyButton {
  vertical-align: middle;
  font-weight: bold;

  .sheen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    mix-blend-mode: overlay;

    &:before {
      @extend %sheen;
      animation: sheen 10s infinite ease-out;
    }

    &:after {
      @extend %sheen;
      animation: sheen 10s infinite 5s ease-out;
    }
  }
}

.arrows {
  position: relative;
  display: inline-block;
  height: 1.5em;
  margin: 0 0.25em;

  .baseArrows {
    width: 1.25em;
  }

  &.left {
    .baseArrows {
      padding-right: 0.5em;

      &:after {
        content: "";
        @include arrowRight(0.5em, white);
        opacity: 0.5;
      }

      &:before {
        content: "";
        @include arrowRight(0.5em, white);
        opacity: 0.25;
      }
    }

    .animatedArrow {
      @include arrowRight(0.5em, white);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      animation: to-right 1.25s infinite ease-out;
    }
  }

  &.right {
    .baseArrows {
      padding-left: 0.5em;

      &:after {
        content: "";
        @include arrowLeft(0.5em, white);
        opacity: 0.25;
      }

      &:before {
        content: "";
        @include arrowLeft(0.5em, white);
        opacity: 0.5;
      }
    }

    .animatedArrow {
      @include arrowLeft(0.5em, white);
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      animation: to-left 1.25s infinite ease-out;
    }
  }
}

@keyframes to-right {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  5% {
    opacity: 1;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(100%);
  }

  40%,
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  5% {
    opacity: 1;
    transform: translateX(0);
  }

  20% {
    opacity: 1;
    transform: translateX(-100%);
  }

  60%,
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes sheen {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

%sheen {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}
