@import "../_Base/ui_base.scss";

.checkboxWrapper {
  $border-width: 2px;
  $color-checkbox-border: $color-primary;
  $color-checkbox-checked: $color-primary;
  $color-checkbox-check: $color-background;
  $checkbox-height: 1.125em;
  $inner-check-size: calc(#{$checkbox-height} - 4px);

  align-items: center;
  padding: 0.5em 0;
  cursor: default;
  font-size: 1em;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;

  :global(.r-tiny) & {
    cursor: pointer;
  }

  .checkbox {
    position: relative;
    width: $checkbox-height;
    height: $checkbox-height;
    border: $border-width solid $color-checkbox-border;
    border-radius: 3px;
    font-size: $checkbox-height;
    transition: 0.25s;
    box-sizing: border-box;

    .check {
      overflow: hidden;
      width: 0;
      height: $inner-check-size;
      opacity: 0;
      color: $color-background;
      transition: opacity 0.25s, width 0.5s;

      i {
        align-items: center;
        justify-content: center;
        width: $inner-check-size;
        height: $inner-check-size;
        display: flex;
      }
    }

    &.checked {
      border-color: $color-checkbox-checked;
      background: $color-checkbox-checked;

      .check {
        width: $inner-check-size;
        height: $inner-check-size;
        opacity: 1;
        font-weight: 700;
        transform: scale(1);
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
      border-color: $color-primary;
      background: $color-primary;
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .label {
    display: inline;
    align-items: center;
    padding-left: 1em;
    line-height: $checkbox-height;
    flex: 1 0;
  }
}
