@import "../../../../UI/UIKit/_Base/ui_base.scss";

.silver {
  padding: 1rem 0 1rem;
}

.label {
  font-size: $font-size-s;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.value {
  font-size: 1.5rem;
  align-items: center;
  font-weight: 500;
}

.silverIcon {
  display: inline-block;
  vertical-align: -1px;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
