@import "../../../ui/uikit/_base/ui_base";

.header {
  display: flex;
  padding: 0.4rem;
  margin: -1.75rem -1.75rem 0 -1.75rem;
  background: linear-gradient(
    to left,
    rgba($color-background-alt-1, 0.925) 0%,
    $color-background-alt-1 100%
  );

  h3 {
    font-weight: 600;
    padding: 0.6rem;
    font-size: $font-size-s;
    color: $color-primary-alt-2;
  }
}
