@import "../../../UI/UIKit/_Base/ui_base.scss";

.wrapper {
  margin-bottom: 1rem;

  .title {
    font-size: 1.25rem;
    letter-spacing: 3px;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    border-bottom: 0.1rem solid $color-primary;
  }

  .subtitle {
    margin-top: 0.25rem;
    padding-bottom: 0.75rem;
    color: rgba($color-primary, 0.5);
    font-size: $font-size-l;
  }
}
