@import "../../ui/uikit/_base/ui_base";

.crossSaveArea {
  background-image: url("/7/ca/destiny/bgs/destiny2_radial_detail.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contentWrapper {
  min-height: 75vh;
}

.helpBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.9rem;

  a {
    @extend %white-link;

    margin: 0 0.5rem;
  }

  span {
    padding: 0 0.25rem;
  }
}
