@import "../../_CrossSaveBase.scss";

.error {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 1.5rem;
  border: 1px solid $color-error;
  background: rgba($color-error, 0.25);

  + .error {
    margin-top: 1rem;
  }
}

.icon {
  font-size: 1.33rem;
  margin-right: 1rem;
}

.message {
  display: flex;
  align-items: center;
}
