@import "../../../UI/UIKit/_Base/ui_base.scss";

.agreementHeader {
  font-size: $font-size-h3;
  font-weight: bold;
}

.agreementText {
  font-size: 1.25rem;
}

.buttonContainer {
  display: flex;
  margin: 3rem auto 0px auto;
  padding-top: 1rem;

  :global(.r-mobile) & {
    width: 100%;
  }
}

.buttonNext {
  :global(.r-mobile) & {
    width: 100%;
  }
}

.checkboxContainer {
  display: flex;
  margin: 1.5rem auto -2rem auto;
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.faqContainer {
  text-align: center;
  display: inline-block;
  margin: 2.75em auto;
  font-weight: 500;
}

.faqLink {
  color: $color-accent;
}

.userAgreement {
  height: 40vh;
  overflow: auto;
  padding-right: 1.5rem;
  line-height: 25px;
  min-width: 23rem;

  span {
    font-size: $font-size-h3;
    font-weight: bold;
  }

  div {
    margin-top: 0.5rem;
  }

  :global(.r-mobile) {
    line-height: 16px;
  }
}

.userAgreement::-webkit-scrollbar {
  width: 13px;
}

.userAgreement::-webkit-scrollbar-track {
  background-color: rgba($color-primary, 0.1);
  border: 4px solid $color-background-alt-3;
  margin-top: 0.5rem;
}

.userAgreement::-webkit-scrollbar-thumb {
  background-color: white;
  height: 2em;
}

.userAgreementBorder {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba($color-primary, 0.5);
  padding: 1.5rem;

  :global(.r-mobile) {
    max-width: 2rem;
    margin: 0px auto;
  }
}
