@import "../../../ui/uikit/_base/ui_base";

$account-card-padding: 1.75rem;

.accountCard {
  display: flex;
  flex-direction: column;
  padding: $account-card-padding;
  flex: 1 0;
  background: $color-primary;
  color: $color-text-dark;
  align-content: center;
  transition: 0.25s;
  transform: translateZ(0);
}

.platformInfo {
  display: flex;
  padding: 0.9rem 1.1rem;
  margin: -#{$account-card-padding} -#{$account-card-padding} 0 -#{$account-card-padding};
  align-items: center;
  font-weight: bold;
  font-size: $font-size-s;
  color: $color-primary;

  @mixin logo($platform) {
    .platformLogoIcon {
      height: 1.25rem;
      background-image: url("/7/ca/bungie/icons/logos/#{$platform}/icon.png");
    }

    .platformLogoText {
      height: 0.8rem;
      background-image: url("/7/ca/bungie/icons/logos/#{$platform}/logo.png");
    }
  }

  .platformLogoText {
    flex: 1 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .platformLogoIcon {
    flex: 1 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
  }

  &.TigerBlizzard {
    background: linear-gradient(to left, #012750 0%, #0895df 100%);

    @include logo("blizzard");
  }

  &.TigerSteam {
    background: linear-gradient(
      to left,
      rgb(29, 44, 64) 0%,
      rgb(41, 67, 90) 100%
    );

    @include logo("steam");
  }

  &.TigerPsn {
    background: linear-gradient(to left, #013682 0%, #3a87ba 100%);

    @include logo("playstation");
  }

  &.TigerXbox {
    background: linear-gradient(to left, rgb(23, 122, 24) 0%, #2a9917 100%);

    @include logo("xbox");
  }

  &.TigerStadia {
    background: linear-gradient(to left, #f34c23 0%, #a31561 100%);

    @include logo("stadia");
  }
}
