@import "../../../ui/uikit/_base/ui_base";
@import "buttoncontainer";

.reviewSummary {
  display: flex;

  :global(.r-medium) & {
    flex-direction: column;
  }
}

.hideDuringLoading {
  transition: 0.25s;
}

.commitLoading {
  :global(html:not(.r-medium)) & .hideDuringLoading {
    opacity: 0;
    pointer-events: none;
  }
}

.commitDetails {
  position: relative;

  .spinnerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin-bottom: 2rem;
    }
  }
}

.reviewBlock {
  display: flex;
  flex: 7 0;
  flex-wrap: wrap;
}

.characterReview {
  display: flex;
  flex-direction: column;
  flex: 3 0;

  :global(.r-large) & {
    max-width: 20rem;
    min-width: 18rem;
  }

  :global(.r-medium) & {
    max-width: 50%;
    min-width: 50%;
  }

  :global(.r-tiny) & {
    max-width: none;
    min-width: 100%;
  }
}

.reviewCard {
  flex: 3 0;
}

.clan {
  margin: 2rem 0;
}

.dottedLine {
  display: flex;
  align-items: center;
  flex: 1 0;
  min-width: 5rem;

  div {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed;

    :global(.r-medium) & {
      height: 5rem;
      border-right: 1px dashed;
      margin: 0.5rem 0;
      border-bottom: none;
      width: 13rem;
    }

    :global(.r-tiny) & {
      width: 50%;
    }
  }
}

.platforms {
  flex: 7 0;
}

.ellipsesText {
  margin: 0 0 0.5rem 0;
}

.accountPairItemWrapper {
  flex: none;
  margin: auto 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:not(:first-child) {
    padding-top: 1rem;

    .accountPairItem {
      padding-bottom: 2rem;
    }
  }

  &:not(.isPrimary) {
    opacity: 0.35;
  }
}

.result {
  display: flex;
  border: 1px dashed $color-primary;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 0 0.5rem 0.5rem;

  :global(.r-medium) & {
    max-width: 50%;
    min-width: 50%;
  }

  :global(.r-tiny) & {
    max-width: 100%;
    min-width: 100%;
  }
}

.resultItemWrapper {
  display: flex;
  padding: 1rem;
  width: 50%;
  padding: 0.5rem 0.5rem 0 0;
  margin: 0;
  height: 50%;
  color: $color-text-dark;

  &:after {
    float: left;
    content: "";
    padding-top: 50%;
  }

  .reviewCard {
    max-width: none;
    min-width: 12rem;
    height: 18rem;

    :global(.r-medium) & {
      height: 20rem;
    }
  }

  :global(.r-medium) & {
    max-width: none;
    min-width: 100%;
  }

  :global(.r-tiny) & {
    max-width: none;
    min-width: 100%;
  }

  .resultItem {
    display: flex;
    flex: 1;
    background: $color-primary;
    padding: 1rem;
    align-items: center;

    .resultIcon {
      width: 4rem;
      height: 4rem;
      background-image: url("/img/theme/bungienet/icons/BattlenetLogo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 1.5rem;
    }

    .platformName {
      font-weight: bold;
      font-size: $font-size-xl;
      margin-bottom: 0.25rem;
    }
  }

  .CrossSavePlatformInfo {
    display: flex;
  }

  .entitlementsTitle,
  .seasonsTitle {
    font-size: $font-size-s;
    font-weight: 500;
  }

  .entitlementsContainer,
  .seasonsContainer {
    display: flex;
    flex-wrap: wrap;

    :global(.r-max) & {
      max-width: 20rem;
      min-width: 18rem;
    }

    :global(.r-large) & {
      max-width: 18rem;
      min-width: 16rem;
    }

    :global(.r-medium) & {
      max-width: none;
      min-width: 55%;
    }

    :global(.r-tiny) & {
      max-width: none;
      min-width: 100%;
    }

    .entitlementTag {
      font-size: $font-size-s;
      color: $color-primary;
      background-color: black;
      padding: 0.5rem;
      display: inline-block;
      margin: 0.25rem 0.25rem 0 0;
      font-weight: 400;

      &.none {
        background-color: rgba($color-background, 0.3);
      }

      :global(.r-max) & {
        font-size: 0.65rem;
      }
    }
  }

  .seasonsContainer {
    margin-bottom: 0.5rem;
  }
}

.cardNeedsAuth {
  background: rgba($color-primary, 0.1);
  margin-right: 0;
}

.cardLinkButton {
  margin-top: 1rem;
}

.buttonDisabledDesc {
  font-weight: bold;
  margin: 2rem 0 -1.25rem 0;

  :global(.r-mobile) & {
    margin: 3.5rem auto 3rem;
    line-height: 18px;
  }
}

.relativeContainer {
  position: relative;

  .sticksToEnd {
    position: absolute;
    bottom: 1.5rem;
    margin-right: 1.5rem;
  }
}
