@import "../../../../UI/UIKit/_Base/ui_base.scss";

.accountCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1 0;
  background: $color-primary;
  color: $color-text-dark;
  align-content: center;
  transition: 0.25s;
}

.characters {
  padding: 1.75rem 0 0 0;
}

.characterItem:not(:last-child) {
  margin-bottom: 0.5rem;
}

.noCharacters {
  opacity: 0.5;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem 0;
}

.characterOrigin {
  opacity: 0.5;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
}
