@import "../../../ui/uikit/_base/ui_base";

.disclaimer {
  color: $color-primary-alt-3;
  position: absolute;
  bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.buyModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.storeOptions {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2rem auto 3rem;
}

.modalHeader {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 2rem;
  background-color: $color-background;
}

.tricorn2 {
  width: 4rem;
  margin-top: 1.1rem;
  margin-left: 5.25rem;
}

.modalTitle {
  margin: 1rem 0 0 1.2rem;
  min-height: 4rem;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.edition {
  margin: 0.3rem 0 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
}
