@import "../../../ui/uikit/_base/ui_base";

.modalSkuImage {
  :global(.r-medium) & {
    display: none;
  }
}

.discountLabel {
  position: absolute;
  left: 0rem;
  top: 1rem;
  width: 340px;

  :global(.r-medium) & {
    display: none;
  }
}

.disclaimer {
  color: rgba($color-primary, 0.5);
  position: absolute;
  bottom: 0;
  font-size: 0.95rem;
}

.buyModalContent {
  display: flex;
  position: relative;
}

.modalSkuImage {
  padding-top: 4rem;
  flex-basis: 363px;

  img {
    width: 340px;
  }
}

.storeOptions {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100% - 363px);
  padding: 2rem 5rem;
}

.modalTitle {
  font-size: 1.8rem;
  margin: 0 0 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.modalSubtitle {
  font-weight: 600;
  opacity: 0.5;
}

div.buyModalFooter {
  display: flex;
  justify-content: center;
  margin-top: auto;

  a {
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      border-left: 1px solid whitesmoke;
      height: 0.8rem;
      margin: 0 0.4rem;
      vertical-align: middle;
    }

    font-size: 0.8rem;
    color: whitesmoke !important;
    letter-spacing: 0.14rem;
    font-weight: 600;

    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}
