@import "../../uikit/_base/ui_base";

.destinyTooltip {
  display: flex;
  flex-direction: column;
  border-top: 2px solid $color-primary;
  width: 25rem;
  height: auto;

  .header {
    display: flex;
    background-color: rgba(40, 40, 40, 0.75);

    .icon {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      flex: 1;
    }
  }

  .title {
    color: $color-primary;
    background-color: rgba($color-primary, 0.25);
    font-size: 1.75rem;
    flex: 3;
    padding: 0.5rem 1rem;
  }

  .body {
    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1rem;
    padding: 1rem;
  }
}
