@import "../../ui/uikit/_base/ui_base";

.shadowkeepButton {
  font-size: $font-size-m;
  text-transform: uppercase;
  margin-top: 1rem;

  :global(.r-mobile) & {
    width: 100%;
  }
}

.hero {
  height: calc(100vh - #{$size-nav-height} - 3rem);
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/shadowkeep/hero_desktop_bg.jpg"
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/mobile/hero_mobile_bg.jpg"
    );
    height: calc(100vh - #{$size-nav-height * 2});
  }

  .playButton {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    &:focus {
      outline: none;
    }
  }

  .playIcon {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/play_button_static.png"
    );
    height: 16rem;
    width: 20rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    :global(html.r-mobile) & {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/play_button.png"
      );
      height: 6rem;
      width: 6rem;
      margin-top: 7rem;
    }
  }

  .heroLogo {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/shadowkeep_logo.png"
    );
    width: 55rem;
    height: 15rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    position: relative;

    :global(html.r-mobile) & {
      height: 14rem;
    }
  }

  .date {
    color: rgba($color-primary, 0.85);
    font-size: 1.8rem;
    letter-spacing: 3px;

    :global(html.r-mobile) & {
      font-size: 1.25rem;
    }
  }
}

.section {
  position: relative;
  overflow: hidden;
  width: 100%;

  .bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sectionContent {
    position: relative;
    z-index: 3;
    max-width: 89rem;
    padding: 0 2rem;
    margin: 0 auto;

    :global(.r-tiny) & {
      max-width: 100%;
    }
  }

  .sectionTextContent {
    max-width: 55rem;
    margin: 0 auto;
  }

  &.center .sectionContent {
    text-align: center;
  }

  &.left .sectionTextContent {
    max-width: 35rem;
    margin: 0;

    .smallTitle {
      padding: 0.5rem 0;
      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 2rem;
    line-height: 3rem;
  }

  p.mediumBlurb {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 6rem;

    :global(.r-mobile) & {
      margin-bottom: 1rem;
    }
  }

  .gray {
    background: #14171a;
  }
}

.thumbnail {
  width: 20rem;
  padding: 0;
  position: relative;
  margin-right: 2rem;
  background-color: $color-background;
  cursor: pointer;
  transition: 0.25s;
  min-height: 8rem;

  &:last-child {
    margin-right: 0;
  }

  .playButton {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/play_button.png"
    );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
  }

  &:after {
    border-color: rgba($color-primary, 0.2) !important;
  }

  &:hover {
    &:after {
      border-color: $color-primary !important;
    }
  }

  :global(.r-mobile) & {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  &.four {
    width: 23%;
    height: 23%;

    :global(.r-medium) & {
      width: 40%;
      height: 40%;
      margin: 1rem;
    }

    :global(.r-mobile) & {
      width: 100%;
      height: 100%;
      margin: 1rem 0;
    }
  }
}

.mediaBg {
  width: 20rem;
  min-height: 100%;

  &.four {
    width: 100%;
    height: 100%;
  }

  :global(.r-mobile) & {
    width: 100%;
    height: 100%;
  }
}

.mediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12.5rem;

  &.left {
    justify-content: flex-start;
  }

  &.four {
    :global(.r-medium) & {
      flex-wrap: wrap;
    }
  }

  :global(.r-medium) & {
    width: 100%;
  }

  :global(.r-mobile) & {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

.largeImage {
  width: 80vw;
  height: auto;

  :global(.r-mobile) & {
    width: 95vw;
  }
}

.armorSubtitle {
  font-size: $font-size-l;
  font-weight: 600;
  font-style: italic;
  margin-top: 1rem;
}

.boxes {
  display: flex;
  max-width: 73rem;
  margin: 2rem auto 0;

  .box {
    padding: 1rem;
    text-align: left;
    font-size: 1.125rem;
    background: #25292d;
    border-top: 4px solid #7c858d;
    min-width: calc(33% - 1rem);
    line-height: 23px;

    + .box {
      margin-left: 2rem;
    }
  }

  .boxTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  :global(html.r-mobile) & {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;

    .box {
      min-width: calc(100%-4rem);
      margin: 1rem 2rem;

      + .box {
        margin-left: 2rem;
      }
    }
  }
}

.sectionTitle {
  font-size: 3.375rem;

  &.small {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.smallTitle {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem 2rem;
  opacity: 0.75;
  letter-spacing: 3px;
  border-bottom: 1px solid rgba($color-primary, 0.75);
  margin: 0 auto 2rem;
  text-transform: uppercase;
}

.sectionStory {
  padding: 29rem 0;
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/shadowkeep/eris_desktop_bg.jpg"
  );
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  p.mediumBlurb {
    margin-bottom: 2rem;
  }

  :global(html.r-mobile) & {
    background-color: #050504;
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/mobile/eris_mobile_bg.jpg"
    );
    padding: 80rem 0 6rem 0;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
  }

  :global(html.r-tiny) & {
    padding: 47rem 0 6rem 0;
    background-size: contain;
    text-align: left;
  }

  &.lockedNavPlaceholder {
    margin-top: $size-nav-height;
  }
}

.sectionMoon {
  padding: 19rem 0;
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/shadowkeep/luna_desktop_bg.jpg"
  );
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/mobile/luna_mobile_bg.jpg"
    );
    background-color: #101415;
    padding: 60rem 0 6rem 0;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
  }

  :global(html.r-tiny) & {
    padding: 30rem 0 6rem 0;
    background-size: contain;
    text-align: left;
  }
}

.sectionPower {
  width: 100%;
  height: 1800px;
  border-top: 10px solid #ffba34;

  :global(html.r-mobile) & {
    height: auto;
    padding-top: 54rem;
    border-top: none;

    .bg {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/power_mobile_bg.jpg"
      );
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }

    .sectionContent,
    .sectionTextContent {
      position: relative;
      transform: initial;
      left: initial;
    }
  }

  :global(html.r-tiny) & {
    padding-top: 29rem;

    .bg {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/power_mobile_bg.jpg"
      );
      background-position: center top;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .sectionContent,
    .sectionTextContent {
      margin: 0;
    }
  }

  .sectionContent {
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    max-width: none;

    .sectionTextContent {
      position: absolute;
      bottom: 0;
      z-index: 4;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .powerParallax {
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 1920px;

    > div {
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .moonBg {
      width: 100%;
      height: 70%;
      top: 50%;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/power_desktop_bg.jpg"
      );
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    .rock {
      z-index: 10;
      left: 0;
      bottom: -200px;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/power_rock.jpg"
      );
      width: 1920px;
      height: 652px;
    }

    .hunter {
      z-index: 8;
      left: 606px;
      bottom: 155px - 200px;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/power_hunter.jpg"
      );
      width: 944px;
      height: 1397px;
    }

    .warlock {
      bottom: 334px - 200px;
      left: 1037px;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/power_warlock.jpg"
      );
      width: 668px;
      height: 1135px;
    }

    .titan {
      left: 233px;
      bottom: 55px - 200px;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/power_titan.jpg"
      );
      width: 564px;
      height: 1116px;
    }

    .number {
      z-index: 11;
      top: 55%;
      left: 50%;
      margin-left: -359px;
      background-image: url("/7/ca/destiny/bgs/shadowkeep/power_desktop_960.png");
      width: 718px;
      height: 352px;
    }
  }
}

.mods {
  padding-top: 25vh;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/mobile/armor_2_mods_mobile_bg.jpg"
    );
    padding-top: 36rem;
    margin-top: 5rem;
    background-color: #101415;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .modRow {
    height: 92px;
    margin: 9px 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @for $i from 1 through 7 {
      &.modRow#{$i} {
        @include webPBackgroundImage(
          "/7/ca/destiny/bgs/shadowkeep/mods_row#{$i}.jpg"
        );
      }
    }

    &.modRow1 {
      height: 93px;
    }
  }
}

.sectionFinishers {
  padding-top: 80vh;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/mobile/finishers_mobile_bg.jpg"
    );
    padding-top: 60rem;
    margin-top: 5rem;
    background-color: #14171a;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  :global(html.r-tiny) & {
    padding-top: 30rem;
    background-size: contain;
    text-align: left;
  }
}

.sectionArmor {
  padding-top: 60vh;

  .bg {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/armor_desktop_bg.jpg"
    );
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    :global(html.r-mobile) & {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/armor_2dot0_mobile_bg.jpg"
      );
      background-color: #14171a;
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }

  :global(html.r-mobile) & {
    margin-top: 2rem;
    padding-top: 23rem;

    .sectionContent {
      padding: 0;
    }
  }
}

.sectionGear {
  padding-top: 65vh;
  background-color: rgb(16, 16, 16);
  border-top: 0.6rem solid #434548;

  .bg {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/gear_desktop_bg.jpg"
    );
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 3rem 0;

    :global(html.r-mobile) & {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/gear_mobile_bg.jpg"
      );
      background-color: #101010;
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
    }
  }

  :global(html.r-mobile) & {
    padding-top: 50rem;
    padding-bottom: 6rem;
    border-top: 10px solid #45474b;

    .sectionContent {
      padding-top: 37rem;
    }
  }

  :global(html.r-tiny) & {
    .sectionContent {
      padding-top: 0;
    }
  }
}

.sectionRaid {
  padding-top: 85vh;

  .bg {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/raid_desktop_bg.jpg"
    );
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    :global(html.r-mobile) & {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/raid_mobile_bg.jpg"
      );
      background-color: #0e1410;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
    }

    :global(html.r-tiny) & {
      background-size: contain;
    }
  }

  :global(html.r-mobile) & {
    padding-top: 60rem;
    padding-bottom: 6rem;
  }

  :global(html.r-tiny) & {
    padding-top: 37rem;
  }
}

.sectionSeasons {
  padding-top: 64vh;
  padding-bottom: 6rem;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #1d1a15;

  :global(html.r-mobile) & {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
  }

  :global(html.r-mobile) & {
    padding-top: 30rem;
  }

  :global(html.r-tiny) & {
    padding-top: 30rem;
  }

  .italicCallout {
    font-size: 1.125rem;
    font-weight: 600;
    font-style: italic;
    margin-top: 1rem;
    line-height: 2rem !important;
  }

  .mediumBlurb {
    margin-bottom: 2rem;
  }

  .shadowkeepButton {
    margin-bottom: 6rem;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
    padding: 0.6rem 0.8rem;
    border: 1px solid $color-primary;
    background-color: rgba($color-primary, 0.3);
    opacity: 1;
    font-size: 1rem;
  }

  &.media {
    justify-content: center;
    margin: 1rem auto;

    a {
      opacity: 0.3;
    }

    a.selected {
      opacity: 1;
    }
  }

  &.dde {
    .standardTab {
      opacity: 0.4;
    }
  }

  &.std {
    .deluxeTab {
      opacity: 0.4;
    }
  }
}

.underlineBuy {
  width: 14rem;
  height: 4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($color-primary, 0.2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionGettingStarted {
  padding-top: 5vh;
  padding-bottom: 6rem;

  .bg {
    background-image: url("/7/ca/destiny/bgs/shadowkeep/getting_started_bg.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    :global(.r-mobile) & {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/getting_started_bg.jpg"
      );
      height: 40rem;
      background-color: #08090c;
      background-position: center top;
    }
  }

  .sectionTextContent {
    text-align: left;
  }

  .gettingStartedTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .gettingStartedIcon {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/getting_started_icon.png"
    );
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .gettingStartedTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.25rem;
    margin-left: 1rem;
  }

  .sectionTextContent {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
  }

  .gettingStartedSubtitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.75rem;
    border-top: 2px solid $color-accent3-alt-1;
  }

  .gettingStartedText {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: rgba($color-primary, 0.7);
  }
}

.sectionShadowkeep {
  background-color: #080906;

  .bg {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/buy_desktop_bg.jpg"
    );
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    :global(.r-mobile) & {
      height: 80rem;
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/shadowkeep/mobile/buy_mobile_bg.jpg"
      );
      background-position: center top;
    }
  }

  .smallTitle {
    margin-top: 6rem;

    :global(.r-mobile) & {
      margin-top: 4rem;
    }
  }

  .textCallout {
    text-transform: uppercase;
    font-size: $font-size-l;
    font-weight: 600;
    margin-top: 0;

    :global(.r-mobile) & {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }

  .shadowkeepBuyContainer {
    display: flex;
    justify-content: center;

    :global(.r-mobile) & {
      max-width: 100%;
    }

    .shadowkeepBuy {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2.5rem;
      flex-basis: 50%;

      .cover {
        width: 31rem;
        height: 38rem;
        margin-bottom: 1.5rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        align-self: flex-end;

        :global(.r-mobile) & {
          background-size: contain;
          height: 34rem;
          align-self: center;
        }

        :global(.r-tiny) & {
          margin-bottom: 0.5rem;
          background-size: contain;
          height: 24rem;
        }
      }
    }

    .shadowkeepBuyDescription {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 2rem 2rem 2.5rem 1rem;
      text-align: left;
      flex-basis: 50%;

      p {
        margin: 0;
      }

      .destinyShadowkeep {
        margin: 0.5rem 0 0 0;
      }

      .editionTitle {
        font-weight: 600;

        span {
          margin-right: 0.5rem;
          text-transform: uppercase;

          &.destinyTitle {
            font-weight: 300;
          }
        }
      }

      .platformType {
        text-align: center;
        background-color: rgba($color-primary, 0.2);
        font-size: 1rem;
        padding: 5px 5px;
        margin-right: 0.5rem;
        display: unset;
        color: whitesmoke;
        font-weight: 400;
      }

      .buyMainContent {
        line-height: 22px;
        color: $color-primary-alt-2;
        margin-bottom: 2rem;
        max-width: 36rem;
        font-size: 1.2rem;
        padding: 1rem 0;

        li {
          list-style: disc;
          opacity: 0.9;
          padding: 0.2rem 0;
          text-indent: -22px;
          margin-left: 22px;

          li {
            list-style: disc;
            margin-left: 2.5rem;
            opacity: 0.7;
          }
        }

        .descBottom {
          font-size: 16px;
          line-height: 22px;
          padding-top: 2rem;
          display: flex;

          div {
            margin: 1rem 2rem 1rem 0;
          }

          :global(html.r-medium) & {
            flex-direction: column;
          }
        }
      }
    }

    :global(.r-mobile) & {
      flex-direction: column;

      .deluxeStandardTabs {
        a {
          font-size: 0.9rem;
        }
      }

      .editionTitle,
      .destinyShadowkeep {
        font-size: $font-size-xl;
      }

      .shadowkeepBuyDescription {
        margin: 0 0 2rem 1rem;
      }
    }
  }
}

.thickTopBorder {
  border-top: 4px solid rgba($color-primary, 0.2);
  width: 3rem;
  height: 2rem;
}

.preorderButton {
  margin: 0 0 1rem 0;

  :global(.r-tiny) & {
    width: 100%;
  }
}
