@import "../../../UI/UIKit/_Base/ui_base.scss";

$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.product {
  @extend %base-hover-border;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem 0 0;
  max-width: 22.125rem;

  a {
    @extend %basic-link;
  }

  &.hover {
    @extend %hover-border-hover-state;
    cursor: pointer;
  }

  :global(.r-mobile) & {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 3rem 0;
    max-width: none;
  }

  :global(.r-tiny) & {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &.featured {
    background: rgba(245, 245, 245, 0.05);

    .imageWrap {
      animation: neonGlow 2s infinite alternate $easeInOutQuad;
    }
  }
}

:global(.r-pico) .imageWrap {
  display: block;
  width: 100%;
}

.imageWrap {
  position: relative;
  margin-bottom: 1rem;

  .price {
    width: 100%;
    z-index: 2;
  }

  :global(.r-tiny) & {
    width: 75%;
    margin: 0 auto 3rem;
  }
}

.productImage {
  height: 0;
  width: 100%;
  padding-top: 137%;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;

  :global(.r-mobile) & {
    height: 15rem;
    width: 14rem;
    margin-right: 1rem;
    background-position: left center;
    justify-content: flex-end;
  }

  :global(.r-tiny) & {
    height: 0;
    width: 100%;
    background-position: left center;
    justify-content: flex-end;
  }

  :global(.r-pico) & {
    height: 15rem;
    width: 100%;
    background-position: center;
  }
}

.infoWrap {
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

/*@keyframes neonGlow
{
	0%
	{
		box-shadow: 0 0 10px rgba(183, 140, 37, 0.8), 0 0 20px rgba(183, 140, 37, 0.8), 0 0 40px rgba(183, 140, 37, 0.5), 0 0 60px rgba(183, 140, 37, 0.5), 0 0 80px rgba(183, 140, 37, 0.5), 0 0 100px rgba(183, 140, 37, 0.5);
	}

	100%
	{
		box-shadow:0 0 8px rgba(183, 140, 37, 0.8), 0 0 12px rgba(183, 140, 37, 0.8), 0 0 16px rgba(66,220,219,.8), 0 0 22px rgba(183, 140, 37, 0.5), 0 0 30px rgba(183, 140, 37, 0.5);
	}
}*/

.details {
  padding: 1rem 0;

  :global(.r-mobile) & {
    padding: 0;
  }
}

.detailWrap {
  flex: 1 0;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-transform: uppercase;

  :global(.r-mobile) & {
    font-size: 1.5rem;
  }
}

.subtitle {
  display: flex;
  line-height: 1.5em;
  padding: 0.25em 0 0;
  opacity: 0.5;
  font-size: 0.9em;
  text-transform: uppercase;

  :global(.r-mobile) & {
    font-size: 0.9rem;
  }
}

.price {
  display: flex;
  font-size: 1.75rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.blurb {
  padding: 1rem 0;

  div {
    padding: 0.5rem 0;
  }

  li {
    list-style: disc;
    margin-left: 1.5rem;
    padding: 0.25rem 0;
    opacity: 0.6;
  }
}

.viewMore {
  padding: 1rem 0;
  font-size: $font-size-s;
  text-align: center;
}

.action {
  display: flex;
  font-size: 1rem;

  .buyButton {
    flex: 1 0;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  :global(.r-mobile) & {
    order: 2;
  }
}

.crossedOut {
  text-decoration: line-through;
}

.sheen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  mix-blend-mode: overlay;

  &:before {
    @extend %sheen;
    animation: sheen 10s infinite ease-out;
  }

  &:after {
    @extend %sheen;
    animation: sheen 10s infinite 5s ease-out;
  }
}

.discountText {
  position: relative;
  text-align: center;
  background: rgba(183, 140, 37, 0.8);
  color: whitesmoke;
  font-size: 1rem;
  padding: 0.6rem 1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);

  :global(.r-mobile) & {
    margin: 0.5rem 1rem 0 0;
  }

  :global(.r-tiny) & {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.disclaimer {
  color: rgba($color-primary, 0.5);
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.availability {
  padding: 1rem 0 0.5rem;

  .label {
    font-size: 0.8rem;
  }

  .storeAvail {
    padding-top: 0.25rem;

    span {
      display: inline-block;
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      margin-right: 0.25rem;
      background: rgba($color-primary, 0.25);
      text-transform: uppercase;

      &.onSale {
        background: $color-accent3;
      }
    }
  }
}

.learnMore {
  margin-bottom: 1rem;
}

.targeted {
  max-width: none;
  flex: none;
  width: 100%;
  flex-direction: row;
  margin: 0 -1rem 5rem -1rem;

  :global(.r-mobile) & {
    margin: 0;
    padding-top: 0;
  }

  .infoWrap {
    padding: 1rem 4rem;
    align-items: center;
    justify-content: center;

    :global(.r-mobile) & {
      padding: 1rem 0;
    }
  }

  .imageWrap {
    width: 40vh;
    min-width: 15rem;
    margin-bottom: 0;
    max-width: 30vw;

    :global(.r-mobile) & {
      width: 100%;
      max-width: none;
    }
  }

  .productImage {
    height: 0;
    padding-top: 137%;
    margin: 0;
    max-width: 30vw;

    :global(.r-mobile) & {
      width: 100%;
      padding-top: 33vh;
      margin: 1rem 0;
      background-position: center;
      max-width: none;
    }
  }

  .detailWrap {
    padding: 1rem 0 1rem 1rem;
    display: none;

    :global(.r-mobile) & {
      padding: 0;
      order: 2;
    }
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;

    :global(.r-mobile) & {
      order: 1;
      margin-bottom: 2rem;
    }

    .titleWrap {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .buyButton {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}

@keyframes sheen {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

%sheen {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
}
