// Need access to ui_base? Find ui_base.scss in the solution explorer, and drag it into this file to automatically import it.

.bnetProfile {
  margin-left: -0.875rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}
