@import "../../UI/UIKit/_Base/ui_base.scss";

.hero {
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/hero_desktop_bg.jpg"
  );
  height: calc(100vh - #{$size-nav-height});
  margin-top: -9rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/mobile/hero_bg_mobile.jpg"
    );
    margin-top: -7rem;
    position: relative;
    height: calc(100vh - 11rem);
  }

  .heroLogo {
    width: 38rem;

    @media screen and (max-height: 900px) {
      width: 38rem;
    }

    @media screen and (max-height: 800px) {
      width: 34rem;
    }

    @media screen and (max-height: 700px) {
      width: 26rem;
    }

    :global(html.r-mobile) & {
      width: 67vw;
    }
  }

  .heroTitle {
    color: #41403d;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #41403d;
    border-bottom: 1px solid #41403d;
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 1.5rem;
    padding: 0 3rem;
    letter-spacing: 8px;

    @media screen and (max-height: 900px) {
      font-size: 1.75rem;
      margin-bottom: 2.5rem;
      margin-top: 1rem;
    }

    @media screen and (max-height: 800px) {
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }

    @media screen and (max-height: 700px) {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }

    :global(html.r-mobile) & {
      margin-bottom: 7rem;
      font-size: 1.75rem;
      padding: 0 1rem;
      margin-top: 1rem;
      letter-spacing: 5px;
    }
  }
}

.thumbnail {
  width: 23rem;
  padding: 0;
  position: relative;
  margin: 0 1rem 1rem;
  background-color: $color-background;
  cursor: pointer;
  transition: 0.25s;

  img {
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    border-color: rgba($color-primary, 0.2) !important;
  }

  &:hover {
    &:after {
      border-color: $color-primary !important;
    }
  }

  :global(.r-mobile) & {
    width: 100%;
    height: 100%;
    margin: 1rem;
  }

  &.four {
    margin: 0.5rem;
    width: 23%;
    height: 23%;

    :global(.r-medium) & {
      width: 40%;
      height: 40%;
      margin: 1rem;
    }

    :global(.r-mobile) & {
      width: 100%;
      height: 100%;
    }
  }
}

.largeImage {
  width: 80vw;
  height: auto;
  display: block;
}

.flexWrapContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  :global(html.r-mobile) & {
    flex-direction: column;
  }
}

.platformButton {
  margin: 1rem;

  > div {
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.guardians {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/class_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 62rem;
  display: flex;
  justify-content: center;
  position: relative;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/mobile/class_bg_mobile.jpg"
    );
    flex-direction: column;
    height: 100rem;
  }
}

.classImage {
  width: 48rem;
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  display: inline-block;
  padding-top: 68rem;
  margin-top: 1rem;

  :global(html.r-mobile) & {
    height: 56rem;
    width: calc(100% - 4rem);
    margin: 2rem 2rem -6rem 0;
    padding-top: 0;
    background-size: contain;
    background-position: center bottom;
  }
}

.guardiansContent {
  color: #41403d;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  width: 38rem;
  height: 100%;
  display: inline-block;

  :global(html.r-mobile) & {
    width: 100%;
  }

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #41403d;
    border-bottom: 1px solid #41403d;
    margin: 11rem 0 1rem;
    padding: 1.5rem 0;
    align-self: center;
    font-size: 18px;
  }

  .thickUnderline {
    border-bottom: 4px solid #41403d;
    width: 4rem;
  }

  .classType {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.25rem;
    border-bottom: 1px solid #41403d;
    padding-bottom: 4px;
    margin: 4px 0 1.5rem;
  }

  .classDesc {
    font-size: $font-size-xl;
  }
}

.classLogo {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;

  &.hunter {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/hunter_logo_bg.png"
    );
  }

  &.warlock {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/warlock_class_bg.png"
    );
  }

  &.titan {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/titan_class_bg.png"
    );
  }
}

.classBannerContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem 3rem 0;
  width: 30rem;

  :global(html.r-tiny) & {
    width: calc(100vw - 6rem);
    justify-content: center;
  }
}

.classBanner {
  position: relative;
  width: 100%;
  height: 12rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background 0.1s linear;

  &:after,
  &:before {
    content: "";
    position: absolute;
    opacity: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.25s;
  }

  &.hunter {
    background-image: url("/7/ca/destiny/bgs/new_light/class_hunter.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:after {
      background-image: url("/7/ca/destiny/bgs/new_light/class_hunter_hover.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:before {
      background-image: url("/7/ca/destiny/bgs/new_light/class_hunter.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:hover {
      &:after,
      &:before {
        opacity: 1;
      }
    }

    &.selected:before {
      opacity: 1;
    }

    :global(html.r-tiny) & {
      margin-right: 0;
    }
  }

  &.warlock {
    background-image: url("/7/ca/destiny/bgs/new_light/class_warlock.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:after {
      background-image: url("/7/ca/destiny/bgs/new_light/class_warlock_hover.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:before {
      background-image: url("/7/ca/destiny/bgs/new_light/class_warlock.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:hover {
      &:after,
      &:before {
        opacity: 1;
      }
    }

    &.selected:before {
      opacity: 1;
    }
  }

  &.titan {
    background-image: url("/7/ca/destiny/bgs/new_light/class_titan.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    &:after {
      background-image: url("/7/ca/destiny/bgs/new_light/class_titan_hover.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:before {
      background-image: url("/7/ca/destiny/bgs/new_light/class_titan.svg"),
        url("/7/ca/destiny/bgs/new_light/class_border.svg");
    }

    &:hover {
      &:after,
      &:before {
        opacity: 1;
      }
    }

    &.selected:before {
      opacity: 1;
    }
  }
}

.planetsContainer {
  position: relative;
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/destinations_bg.jpg"
  );
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow: hidden;

  :global(html.r-mobile) & {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/mobile/destinations_bg_mobile.jpg"
    );
    background-size: contain;
    background-color: #191021;
  }

  :global(html.r-tiny) & {
    background-size: contain;
  }
}

.planet {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  pointer-events: none;

  p {
    font-size: 0.76vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 0.34vw;
    color: rgba($color-primary, 0.4);
    position: absolute;
  }

  .hotspot {
    pointer-events: all;
    position: absolute;
    border-radius: 50%;
  }
}

@mixin hotspot($size, $top, $left) {
  width: $size;
  height: $size;
  top: $top;
  left: $left;
}

.planet1 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/mars_bg.png");
  width: 11.75vw;
  height: 12vw;
  top: 17.3vw;
  left: 25.2vw;

  > .planet {
    @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/mars_front.png");
    width: 9.8vw;
    height: 9.5vw;
    top: 1.2vw;
    left: 1vw;
  }

  p {
    top: 11.3vw;
    left: 4.3vw;
  }

  .hotspot {
    @include hotspot(9vw, 1.5vw, 1.5vw);
  }
}

.planet2 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/mercury_bg.png");
  width: 13vw;
  height: 10vw;
  top: 5vw;
  left: 23vw;

  > .planet {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/mercury_front.png"
    );
    width: 20vw;
    height: 17.7vw;
    top: -5.2vw;
    left: -3.6vw;
  }

  p {
    top: 9vw;
    left: 3.5vw;
  }

  .hotspot {
    @include hotspot(6vw, 1.5vw, 3.5vw);
  }
}

.planet3 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/io_bg.png");
  width: 11vw;
  height: 11vw;
  top: 12vw;
  left: 12.5vw;

  > .planet {
    @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/io_front.png");
    width: 8.7vw;
    height: 8.7vw;
    background-image: url(https://local-admin.bungie.bng.local/7/ca/destiny/bgs/new_light/io_front.png);
    top: 0.7vw;
    left: 1vw;
  }

  p {
    top: 10.5vw;
    left: 5vw;
  }

  .hotspot {
    @include hotspot(8vw, 1.5vw, 1.5vw);
  }
}

.planet4 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/nessus_bg.png");
  width: 15vw;
  height: 14vw;
  top: 3.4vw;
  left: 67.6vw;

  > .planet {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/nessus_front.png"
    );
    width: 32vw;
    height: 24vw;
    top: -1.7vw;
    left: -8.3vw;
  }

  p {
    top: 11.5vw;
    left: 5.5vw;
  }

  .hotspot {
    @include hotspot(7vw, 3.5vw, 3.5vw);
  }
}

.planet5 {
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/moon_bg_clouds.png"
  );
  width: 39vw;
  height: 27vw;
  top: 7.8vw;
  left: 48.4vw;

  > .planet {
    @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/moon_bg.png");
    width: 13vw;
    height: 10.4vw;
    top: 8.4vw;
    left: 13vw;
    z-index: 5;

    > .planet {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/new_light/moon_front.png"
      );
      width: 17vw;
      height: 16vw;
      top: -2.73vw;
      left: -1.29vw;
      z-index: 5;
    }
  }

  p {
    top: 18.3vw;
    left: 17.75vw;
  }

  .hotspot {
    @include hotspot(7vw, 10vw, 16vw);
  }
}

.planet6 {
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/dreaming_city_front.png"
  );
  width: 21vw;
  height: 19vw;
  top: 18.8vw;
  left: 72vw;

  p {
    top: -2vw;
    left: 5.7vw;
  }

  .hotspot {
    width: 12vw;
    height: 17vw;
    top: 0;
    left: 6vw;
  }
}

.planet7 {
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/traveller_front.png"
  );
  width: 31vw;
  height: 23.5vw;
  top: 3vw;
  left: 34.05vw;
  z-index: 5;

  p {
    top: 13.9vw;
    left: 13.4vw;
  }

  .hotspot {
    @include hotspot(8vw, 6.5vw, 10.5vw);
  }
}

.planet8 {
  @include webPBackgroundImage(
    "/7/ca/destiny/bgs/new_light/tangled_shore_front.png"
  );
  width: 57vw;
  height: 36vw;
  top: 18.8vw;
  left: 46vw;

  > .planet {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/tangled_shore_rocks.png"
    );
    width: 42vw;
    height: 26vw;
    left: 13.75vw;
    top: 0.7vw;
  }

  p {
    top: 21.3vw;
    left: 29.3vw;
  }

  .hotspot {
    width: 24vw;
    height: 13vw;
    top: 12.5vw;
    left: 14.5vw;
  }
}

.planet9 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/earth_front.png");
  width: 34vw;
  height: 28.6vw;
  top: 13.6vw;
  left: 32.7vw;

  p {
    top: 24.3vw;
    left: 14.5vw;
  }

  .hotspot {
    @include hotspot(16vw, 7vw, 9vw);
  }
}

.planet10 {
  @include webPBackgroundImage("/7/ca/destiny/bgs/new_light/titan_front.png");
  width: 21vw;
  height: 20.5vw;
  top: 26.2vw;
  left: 14.7vw;

  p {
    top: 15.2vw;
    left: 6.7vw;
  }

  .hotspot {
    @include hotspot(7.5vw, 5.5vw, 5vw);
  }
}

.moonRef {
  width: 13vw;
  height: 10.4vw;
  top: 16vw;
  left: 61vw;
  position: absolute;
  z-index: 5;
}

.toolTip {
  pointer-events: none;
  transition: 0s !important;
}

.tooltipContainer {
  z-index: 10;
}

.destinationHover {
  display: flex;
  flex-direction: column;
  border-top: 2px solid $color-primary;
  width: 20rem;
  height: auto;

  .iconContainer {
    display: flex;
    background-color: rgba(40, 40, 40, 0.78);
  }

  .destinationIcon {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/new_light/destination_icon.png"
    );
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1;
    height: 3rem;
    margin: 0.75rem 0;
    align-self: center;
  }

  .destinationTitle {
    color: $color-primary;
    background-color: rgba($color-primary, 0.25);
    font-size: 1.75rem;
    flex: 3;
    padding: 0.5rem 0 0.5rem 1rem;
  }

  .descriptionContainer {
    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0.78);
    font-size: 16px;
    padding: 1rem;
  }
}

@mixin arrowDown($size, $color) {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $size $size 0 $size;
  border-color: $color transparent transparent transparent;
}

.arrowContainer {
  position: relative;
}

.arrowsCallout {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: -4.75rem;
  width: 100%;

  :global(html.r-mobile) & {
    top: -0.25rem;
  }
}

.arrows {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  height: 1.25rem;

  :global(html.r-mobile) & {
    top: 2.5rem;
    left: calc(50% - 1.3rem);
  }

  .baseArrows {
    height: 1.25rem;
    display: flex;
    flex-direction: column;

    &:after {
      content: "";
      @include arrowDown(0.85rem, white);
      opacity: 0.5;
    }

    &:before {
      content: "";
      @include arrowDown(0.85rem, white);
      opacity: 0.25;
    }
  }

  .animatedArrow {
    @include arrowDown(0.85em, white);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: to-bottom 1.25s infinite ease-out;
  }
}

@keyframes to-bottom {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(100%);
  }

  40%,
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.buyButton {
  font-size: 1.5rem;
  margin-bottom: 8rem;

  :global(html.r-mobile) & {
    width: 100%;
  }
}

.gear {
  margin-bottom: 7rem;
}
/* Ignore this please */
.topMarginAdjust {
  margin-top: -6rem;
}

.activities {
  display: flex;
  justify-content: center;

  :global(html.r-mobile) & {
    flex-direction: column;
    align-items: center;
  }
}

.activityContainer {
  display: flex;
  width: 30rem;
  margin: 1.5rem 0 1rem;

  :global(html.r-mobile) & {
    width: 100%;
  }

  .activityLogo {
    width: 20rem;
    height: 10rem;
    margin: 0 1.5rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    :global(html.r-mobile) & {
      margin-left: 0;
    }
  }

  .activityTextContent {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .thickTopBorder {
    border-top: 4px solid #0096db;
    opacity: 0.8;
    width: 2rem;
    height: 1rem;
  }

  .activityTitle {
    font-weight: bold;
    margin-bottom: 0.3rem;
    font-size: 22px;
  }

  .activityText {
    font-size: 18px;
    line-height: 24px;
  }

  &.Strikes {
    .activityLogo {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/new_light/strikes_icon.png"
      );
    }
  }

  &.Raids {
    .activityLogo {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/new_light/raids_icon.png"
      );
      width: 24.3rem;
    }
  }

  &.Crucible {
    .activityLogo {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/new_light/crucible_icon.png"
      );
    }

    .thickTopBorder {
      border-top-color: #8d011c;
    }
  }

  &.Gambit {
    .activityLogo {
      @include webPBackgroundImage(
        "/7/ca/destiny/bgs/new_light/gambit_icon.png"
      );
      width: 31.3rem;
    }

    .thickTopBorder {
      border-top-color: #8d011c;
    }
  }
}

.pvpBackground {
  background-color: #1a1615;
}

.sectionMedia {
  transition: 1s;
  min-height: 60vh;
  background: #0f1113;
  padding: 6rem 0;

  .mediaTitle {
    font-size: 3rem;
    text-align: center;
  }
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tabs {
  display: flex;
  flex-direction: row;

  a {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem 0.2rem;
    border-bottom: 1px solid $color-primary;
    font-size: 1.2rem;
  }

  &.media {
    justify-content: center;
    margin: 1rem 2rem;

    a {
      opacity: 0.3;
    }

    a.selected {
      opacity: 1;
    }
  }
}
