@import "../../UI/UIKit/_Base/ui_base.scss";

.productList {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;

  .product {
    flex: 1 0;
  }

  :global(.r-mobile) & {
    display: block;
  }
}

.alpha {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.line {
  margin-top: 1rem;
  border-bottom: 1px solid $color-primary;
}

.stadia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 5rem;
  padding: 2.5rem 0;
  /*background-image: url("/7/ca/destiny/logos/stadia.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -6.5rem;
	*/
  background: rgba(245, 245, 245, 0.05);
  text-align: center;

  .title {
    font-weight: bold;
    font-size: 2.1rem;
    margin: 1rem 0 2rem;
  }

  .desc {
    color: rgba($color-primary, 0.6);
    margin: 1rem 0 2rem;
    font-size: 18px;
  }
}
