@import "../../ui/uikit/_base/ui_base";

.container {
  background-image: url("/img/theme/destiny/bgs/crm/emailvalidation/destiny2_radial_detail.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 8rem 0 14rem;
}

.videoSection {
  padding: 2rem;
  background: rgba($color-background, 0.4);
}

iframe {
  width: 100%;
  height: 100%;
}

.youtubeWrapper {
  height: 30rem;
  width: 100%;
  margin: 0 0 2rem;

  :global(html.r-mobile) & {
    height: 42vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.button {
  margin: 1rem 1rem 1rem 0;
  text-transform: uppercase;
}

.pageTitle {
  margin-top: 1rem;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.pageSubtitle {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba($color-primary, 0.5);
  margin: 0.5rem 0;
}

.date {
  margin: 1rem 0 2rem;
  font-size: 1rem;
  color: rgba($color-primary, 0.5);
}

.description {
  font-size: 1.25rem;
  line-height: 27px;
  max-width: 69vw;
  margin-top: 0.8rem;
}

.buttons {
  margin: 2rem 0;
}

.thumbnails {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 2rem;
  background: rgba($color-background, 0.4);

  :global(html.r-mobile) & {
    width: 100%;
    flex-direction: column;
    align-content: center;

    a {
      margin: 0 0 2rem;

      &:last-child {
        margin: 0;
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    border-radius: 4px;
    min-height: 15rem;
    padding: 1rem;
    justify-content: flex-end;
    transition: 0.25s;
    color: white;
    background-size: cover;
    background-repeat: no-repeat !important;
    flex: 1;
    word-break: break-word;

    h3 {
      margin-bottom: 0.5rem !important;
      font-size: 1.2rem;
    }

    p {
      opacity: 0.8;
    }

    &:hover {
      z-index: 2;
      transform: translateY(-2px);
      box-shadow: 0 60px 90px -40px rgba(0, 0, 0, 0.6);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.underline {
  width: 6.5rem;
  height: 1.5rem;
  border-top: 2.6px solid $color-primary;
}
