@import "../../ui/uikit/_base/ui_base";

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: -9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 23rem;

  :global(html.r-mobile) & {
    padding-top: 24rem;
    padding-bottom: 0;
    background-position: center 20%;
  }

  .playButton {
    background: transparent;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .playCircle {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/seasons/play_button_bg.png"
    );
    height: 6rem;
    width: 6rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.655rem;
    transition: 0.25s;

    &:hover {
      height: 6.5rem;
      width: 6.5rem;
      margin: -0.25rem 0;
    }
  }

  .playIcon {
    background-image: url("/7/ca/destiny/bgs/seasons/play_button_triangle.svg");
    height: 3rem;
    width: 3rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .heroLogo {
    height: 12rem;
    width: 55rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 3rem 0 1rem;

    :global(html.r-mobile) & {
      height: 8rem;
      width: 80vw;
      margin-bottom: 1rem;
    }

    :global(html.r-tiny) & {
      margin-bottom: 0;
    }
  }

  .date {
    color: rgba($color-primary, 0.85);
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 5.5rem;
    text-align: center;

    :global(html.r-mobile) & {
      font-size: 1.25rem;
      margin-bottom: 10rem;
    }
  }

  .heroButton {
    margin: -1.5rem auto 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;

    :global(html.r-mobile) & {
      margin: 0 auto 4rem;
    }
  }
}

.heroContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &.makeAbsolute {
    position: absolute;
    top: 21vw;

    :global(html.r-mobile) & {
      position: relative;
      top: unset;
    }
  }
}

.heroBackgroundVideo {
  width: 100%;
  height: 100%;
  margin-top: -23rem;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  video {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  :global(html.r-mobile) & {
    display: none;
  }
}

.banner {
  padding: 0.1rem;
  text-align: center;

  p {
    font-size: 1.25rem;
    letter-spacing: 9px;

    :global(html.r-mobile) & {
      letter-spacing: unset;
    }
  }
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  .CTALogo {
    height: 12rem;
    width: 43rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 4rem auto 2rem;

    :global(html.r-mobile) & {
      margin-bottom: 2rem;
      width: 90%;
    }
  }

  .CTATitle {
    font-size: 1rem;
    color: $color-primary;
  }

  .buyButton {
    margin: 0 auto 6rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}
