@import "../../UI/UIKit/_Base/ui_base.scss";

:global(.r-mobile) .forsakenSection > div {
  padding-bottom: 9rem;
}

.hero {
  background-image: url("/7/ca/destiny/products/forsaken/forsaken_hero_poster_hires_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: -9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: calc(100vh - #{$size-nav-height});
  z-index: 1;

  :global(html.r-mobile) & {
    background-image: url("/7/ca/destiny/products/forsaken/forsaken_hero_poster_lowres_bg.jpg");
  }

  .trailerButton {
    z-index: 3;
    font-size: 1rem;
    font-weight: 550;
  }

  .video_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    visibility: visible;
    margin: 0;
    padding: 0;

    video {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      visibility: visible;
      object-fit: cover;

      :global(.r-mobile) & {
        visibility: hidden;
      }
    }

    :global(.r-mobile) & {
      visibility: hidden;
    }
  }

  .heroLogo {
    height: 15rem;
    width: 47rem;
    margin-top: 5rem;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10;
    margin-bottom: 2rem;

    :global(html.r-mobile) & {
      width: 90%;
      margin-top: 10rem;
    }
  }

  .heroTitle {
    z-index: 10;
    color: rgba($color-text-dark, 0.6);
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;

    :global(html.r-mobile) & {
      font-size: 1.25rem;
      margin-bottom: 6rem;
    }
  }
}

.splitScreen {
  display: flex;

  :global(html.r-mobile) & {
    flex-direction: column;
  }

  > div {
    width: 50%;

    :global(html.r-mobile) & {
      width: 100%;
      min-height: 28rem;
    }

    > div {
      width: 100%;
      height: 100%;
    }
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  :global(html.r-mobile) & {
    flex-direction: column;
  }

  img {
    width: 100%;
  }
}

.thumbnail {
  width: 20rem;
  padding: 0;
  position: relative;
  margin-right: 2rem;
  background-color: $color-background;
  cursor: pointer;
  transition: 0.25s;
  min-height: 8rem;

  &:last-child {
    margin-right: 0;
  }

  .playButton {
    @include webPBackgroundImage(
      "/7/ca/destiny/bgs/shadowkeep/play_button.png"
    );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
  }

  &:after {
    border-color: rgba($color-primary, 0.2) !important;
  }

  &:hover {
    &:after {
      border-color: $color-primary !important;
    }
  }

  :global(.r-mobile) & {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
  }

  &.four {
    width: 23%;
    height: 23%;

    :global(.r-medium) & {
      width: 40%;
      height: 40%;
      margin: 1rem;
    }

    :global(.r-mobile) & {
      width: 100%;
      height: 100%;
      margin: 1rem 0;
    }
  }
}

.buyButton {
  :global(html.r-mobile) & {
    width: 100%;
  }
}

.largeImage {
  width: 80vw;
}

.supersThumbnail {
  position: relative;

  :global(.r-mobile) & {
    width: 100%;
    height: auto;
    margin: 1rem 0;

    & .thumbnail {
      height: auto;
    }
  }

  &:last-child .thumbnail {
    margin-right: 0;
  }

  &:last-child .supersSub {
    margin-right: 0;
  }
}

.supersBlock p {
  font-weight: 550;
}

.supersSub {
  display: block;
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  font-weight: 550;
  width: 20rem;
  margin-right: 2rem;
  text-align: center;

  :global(.r-mobile) & {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
  }

  &::before {
    display: inline-block;
    content: "";
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  &.warlockSub::before {
    background-image: url("/7/ca/destiny/products/forsaken/v2/desktop/warlock_icon.png");
  }

  &.hunterSub::before {
    background-image: url("/7/ca/destiny/products/forsaken/v2/desktop/hunter_icon.png");
  }

  &.titanSub::before {
    background-image: url("/7/ca/destiny/products/forsaken/v2/desktop/titan_icon.png");
  }
}

.buyForsaken {
  background: url("/7/ca/destiny/products/forsaken/v2/desktop/buy_forsaken_desktop_bg.jpg")
    no-repeat top center;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.textCallout {
  text-transform: uppercase;
  font-size: $font-size-l;
  font-weight: 600;
  margin-top: 0;

  :global(.r-mobile) & {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}

.forsakenBuyTitle {
  font-size: 3.1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  text-align: center;

  :global(.r-mobile) & {
    text-align: left;
  }
}

.shadowkeepBuyContainer {
  display: flex;
  justify-content: center;

  :global(.r-mobile) & {
    max-width: 100%;
  }

  .shadowkeepBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem;
    flex-basis: 46%;

    .cover {
      width: 31rem;
      height: 38rem;
      margin-bottom: 1.5rem;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      align-self: flex-end;

      :global(.r-mobile) & {
        background-size: contain;
        height: 34rem;
        align-self: center;
      }

      :global(.r-tiny) & {
        margin-bottom: 0.5rem;
        background-size: contain;
        height: 24rem;
      }
    }
  }

  .shadowkeepBuyDescription {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
    align-items: flex-start;
    text-align: left;
    line-height: 3rem;
    flex-basis: 46%;

    .destinyShadowkeep {
      margin: 0.5rem 0 0 0;
      font-size: 2rem;
      line-height: 3rem;
    }

    .editionTitle {
      font-weight: 600;

      span {
        margin-right: 0.5rem;
        text-transform: uppercase;

        &.destinyTitle {
          font-weight: 300;
        }
      }
    }

    .platformType {
      text-align: center;
      background-color: rgba($color-primary, 0.2);
      font-size: 1rem;
      padding: 5px 5px;
      margin-right: 0.5rem;
      display: unset;
      color: whitesmoke;
      font-weight: 400;
    }

    .buyMainContent {
      line-height: 22px;
      color: $color-primary-alt-2;
      margin-bottom: 2rem;
      max-width: 36rem;
      font-size: 1.2rem;
      padding: 1rem 0;

      li {
        list-style: disc;
        opacity: 0.9;
        padding: 0.2rem 0;
        text-indent: -22px;
        margin-left: 22px;

        li {
          list-style: disc;
          margin-left: 2.5rem;
          opacity: 0.7;
        }
      }

      .descBottom {
        font-size: 16px;
        line-height: 22px;
        padding-top: 2rem;
        display: flex;

        div {
          margin: 1rem 2rem 1rem 0;
        }

        :global(html.r-medium) & {
          flex-direction: column;
          max-width: 100%;
        }
      }
    }
  }

  :global(.r-mobile) & {
    flex-direction: column;

    .deluxeStandardTabs {
      a {
        font-size: 0.9rem;
      }
    }

    .editionTitle,
    .destinyShadowkeep {
      font-size: $font-size-xl;
    }

    .shadowkeepBuy {
      margin-bottom: 0;
    }

    .shadowkeepBuyDescription {
      margin: 0;
      margin-bottom: 2rem;
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 1px solid $color-primary;
    background-color: rgba($color-primary, 0.3);
    opacity: 1;
    font-size: 1rem;
  }

  &.media {
    justify-content: center;
    margin: 1rem auto;

    a {
      opacity: 0.3;
    }

    a.selected {
      opacity: 1;
    }
  }

  &.ue {
    .standardTab {
      opacity: 0.4;
    }
  }

  &.std {
    .collectionTab {
      opacity: 0.4;
    }
  }

  :global(.r-mobile) & {
    justify-content: flex-start;
  }
}

.preorderButton {
  margin: 0 0 1rem 0;

  :global(.r-tiny) & {
    width: 100%;
  }
}

.thickTopBorder {
  border-top: 4px solid rgba($color-primary, 0.2);
  width: 3rem;
  height: 2rem;
}

.underlineBuy {
  width: 14rem;
  height: 6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($color-primary, 0.2);
}
