.container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  ~ * {
    z-index: 5;
  }
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  video {
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  :global(html.r-mobile) & {
    display: none;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
