@import "../../ui/uikit/_base/ui_base";

:global(.authModal) {
  width: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(24, 28, 37, 0) 0,
      rgba(24, 28, 37, 0.45)
    ),
    url(/7/ca/destiny/bgs/pcmigration/backgroundImage.jpg);
  padding-top: 8rem;
  padding-bottom: 1.1rem;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  opacity: 0.8;

  :global(.r-medium) & {
    padding-top: 8rem;
    text-align: center;
    background-position-x: 20%;
  }

  :global(.r-mobile) & {
    background-position-x: center;
  }

  img {
    align-self: center;
    max-width: 280px;
    z-index: 200;

    :global(.r-medium) & {
      max-width: 250px;
      margin-top: 1rem;
    }

    :global(.r-mobile) & {
      max-width: 150px;
    }
  }

  img.logoDetail {
    position: absolute;
    align-self: center;
    top: 3%;
    max-width: 500px;
    opacity: 0.45;
    animation: spin 280s linear infinite;

    :global(.r-large) & {
      top: -0.5%;
    }

    :global(.r-medium) & {
      top: -0.5%;
    }

    :global(.r-mobile) & {
      top: 3%;
      max-width: 300px;
    }
  }

  img.logoDetail2 {
    position: absolute;
    align-self: center;
    top: -59%;
    max-width: 4000px;
    animation: spin 550s linear infinite;
    animation-direction: reverse;
    pointer-events: none;
    z-index: 10;

    :global(.r-max) & {
      top: -59%;
    }

    :global(.r-large) & {
      top: -83%;
      max-width: 2400px;
    }

    :global(.r-medium) & {
      top: -83%;
      max-width: 2400px;
    }

    :global(.r-mobile) & {
      top: -66%;
      max-width: 1000px;
    }

    opacity: 0.45;
  }

  h2 {
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2rem;

    span {
      color: gold;
    }
  }

  p {
    margin-bottom: 0.75rem;
    text-align: center;
    max-width: 43rem;
    line-height: 20px;
    color: rgba($color-primary, 0.8);

    :global(.r-mobile) & {
      line-height: normal;
    }
  }

  span {
    color: #fff;
    opacity: 0.5;
    font-size: 0.9rem;
    white-space: nowrap;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  :global(.button) {
    padding: 15px 30px;
    min-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    :global(.r-mobile) & {
      min-width: 100%;
    }
  }
}

.darkBackground {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 5rem;
}

.buttonContainer {
  text-align: center;
  max-width: 100%;
  margin-bottom: 1rem;

  a {
    padding: 15px 30px;
    min-width: 300px;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

    :global(.r-mobile) & {
      min-width: 80%;
    }
  }

  :global(.button) {
    padding: 15px 30px;
    min-width: 300px;
    margin-bottom: 1rem;

    :global(.r-mobile) & {
      min-width: 100%;
    }
  }
}

.videoText {
  margin: 0px auto;
  text-align: center;

  :global(.r-mobile) & {
    max-width: 23rem;
  }

  .videoTitle {
    margin-top: 5rem;
  }
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1rem;
  color: rgba($color-primary, 0.6);
  margin: 0.5rem auto 3rem auto;
  line-height: 20px;
  max-width: 50rem;

  :global(.r-mobile) & {
    line-height: normal;
  }
}

.aside {
  font-size: 0.75rem;
  color: rgba($color-primary, 0.6);
  margin-bottom: 3rem;
}

.FAQHeader {
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0.75rem;

  h2 {
    font-size: 2.5rem;
  }

  .FAQdescription {
    opacity: 0.8;
  }

  .forumLink {
    @extend %basic-link;
  }

  :global(.r-mobile) & {
    padding-top: 5rem;
  }
}

.questions {
  padding-bottom: 3rem;
  text-align: left;
  max-width: 100%;
  line-height: 27px;
  color: rgba($color-primary, 0.7);

  a {
    color: $color-accent;
  }

  h3 > span {
    display: none;
  }

  :global(.r-medium) & {
    line-height: 20px;
  }

  h2,
  h3 {
    font-weight: 500;
    color: $color-primary;
    margin: 1rem auto;
    line-height: normal;
  }
}

.videoContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 39vw;
  height: 22vw;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.1);
  z-index: 20;

  :global(.r-large) & {
    width: 51.5vw;
    height: 29.1vw;
  }

  :global(.r-medium) & {
    width: 69vw;
    height: 39.1vw;
  }

  :global(.r-mobile) & {
    width: 79vw;
    height: 44.5vw;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.buttonContainer {
  z-index: 600;

  div:first-child {
    margin-right: 1rem;
  }
}

.homepage {
  margin-top: 2rem;
}

.purchaseWarning {
  margin: 3rem auto 0rem !important;
}

.noBattlenetModal {
  text-align: center;

  h3 {
    margin-bottom: 1rem;
  }
}

.alreadyUsedErrorView {
  padding-top: 200px;
}
