@import "../../../ui/uikit/_base/ui_base";

.seasonPassTitle {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.seasonRankTitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.seasonRankBar {
  width: 45%;
  height: 2rem;
  background: rgba(245, 245, 245, 0.1);
  line-height: 2rem;
  position: relative;
  font-weight: 600;
  color: #fff;
  margin-bottom: 3rem;
  backdrop-filter: blur(20px);

  span {
    position: absolute;
    z-index: 2;
  }

  .rank {
    left: 0;
    padding-left: 1rem;
  }

  .bar {
    background: #1cb8bb;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .progress {
    right: 0;
    padding-right: 1rem;
  }
}

.stepWrapper {
  margin: 3rem 0;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  width: 10%;
  flex: 1 0;
  position: relative;
  border-right: 1px solid rgba(245, 245, 245, 0.25);
  backdrop-filter: blur(20px);

  > div:not(.progressionPip) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rewardSlide {
  display: flex;
  width: 100%;
  padding-top: 2.25rem;
  position: relative;

  a {
    position: relative;
    display: block;
    padding: 2px;
    transition: 0.25s;
    border: 2px solid rgba($_base-color-snow-alt-3, 0);

    &:hover {
      border: 2px solid rgba($_base-color-snow-alt-3, 1);
    }

    &:before {
      content: "";
      display: block;
      border: 1px solid rgba($_base-color-snow-alt-3, 0.01);
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.25s;
    }

    &:hover:before {
      top: -7px;
      left: -7px;
      right: -7px;
      bottom: -7px;
      border-color: rgba($_base-color-snow-alt-3, 1);
    }
  }

  img {
    max-width: 100%;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.7);
  }
}

@keyframes shimmer {
  0% {
    top: 50%;
    left: 100%;
    opacity: 1;
  }

  100% {
    top: -110%;
    left: -210%;
    opacity: 0;
  }
}

@mixin sheen {
  position: absolute;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
  animation-duration: 1.5s;
  animation-name: shimmer;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.free {
  @extend %responsive-square;
  flex: 1 0;
  background: rgba(245, 245, 245, 0.03);
  overflow: hidden;
}
.free.availableReward:not(.claimed):after {
  @include sheen;
}

.completed ~ .free {
  background: rgba(245, 245, 245, 0.1);
  &:after {
    content: "";
  }
}

.premium {
  @extend %responsive-square;
  flex: 1 0;

  $color-premium: #1cb8bb;

  background-color: rgba($color-premium, 0.1);

  overflow: hidden;
}

.premium.availableReward:not(.claimed):after {
  @include sheen;
}

.completed ~ .premium {
  $color-premium: #1cb8bb;
  background-color: rgba($color-premium, 0.3);

  &:after {
    content: "";
  }
}

.checkIcon {
  pointer-events: none;
}

.progressionPip {
  position: absolute;
  width: calc(100% - 0.5rem);
  border-bottom: rgba(245, 245, 245, 0.2) 5px solid;
  line-height: 1rem;
  top: -2.25rem;
  text-align: right;
  align-self: center;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-weight: 600;

  &.completed {
    border-color: rgb(245, 245, 245);

    & ~ div {
      position: relative;

      i {
        color: #1cb8bb;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.8rem;
        z-index: 2;
        display: none;
      }

      &.claimed {
        [src] {
          opacity: 0.7;
        }

        i {
          display: inline-flex;
        }
      }
    }
  }
}

.destinyTooltip {
  text-align: left;

  .tooltipHeader.Legendary {
    background-color: rgb(52, 21, 69);
  }

  .tooltipHeader.Exotic {
    background-color: rgb(153, 126, 23);
  }
}

.seasonCarousel {
  /* seasonCarousel buttons only */
  :global(.button) {
    margin-bottom: -0.11rem;
    margin-top: 2.2rem;
  }
}
