.buttonContainer {
  display: flex;
  margin: 1rem 0 4rem;
  padding-top: 1rem;
  opacity: 1;

  .buttonSpacer {
    margin: 0 auto;
  }

  .buttonNext :global(.icon) {
    margin-left: 0.5rem;
  }

  div + .buttonNext {
    margin-left: 1rem;
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }

  .deactivateButton {
    margin-right: 1rem;
  }

  .buttonBack {
    margin-right: 1rem;

    :global(.icon) {
      margin-right: 0.5rem;
    }
  }

  :global(.r-mobile) & {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .buttonNext,
  .buttonBack {
    :global(.r-mobile) & {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  }
}
